<header><div><span routerLink="/home">Inicio</span><span routerLink="/answers">Respuestas</span></div></header>

<div *ngFor="let ans of answers | paginate: {itemsPerPage:10,currentPage:pageActual}">
    <div *ngIf="ans.checked" style="border: 1px solid black; padding:5px;">
        <p> <span >{{ans.question}}</span></p>
        <p><span >{{ans.answer}}</span></p>
    </div>
</div>
<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>