
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Jura|Open+Sans+Condensed:300|Rock+Salt|Turret+Road&display=swap');



.back-form{
    
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & img{
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    & h3{
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-family: 'Amatic SC', cursive;
        font-family: 'Rock Salt', cursive;
        font-family: 'Jura', sans-serif;
        font-size: 1rem;
    }
}

.back-home{
    background: #03a9f4;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}

input[type="text"]{
    background: transparent;
    border-style: none; 
    border-color: transparent;
    border-bottom: 3px solid white;
    margin:20px 0px;
    color:rgb(216, 195, 6);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

input[type="submit"]{
    background: rgb(34, 34, 34);
    color: rgb(255, 242, 242);
    border-style: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;

    &:hover{
        background: black;
        cursor: pointer;
    }
}