<header><div><a routerLink="/home">Inicio</a><a routerLink="/answers">Respuestas</a></div></header>

<div class="back-home">
<form class="back-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <img src="assets/img/anonimo.jpg" alt="">
    <H3>Escribe una pregunta, o lo que quieras...</H3>
    <p><input type="text" formControlName="question"></p>
    <p><input type="submit" value="Enviar"></p>
</form>
</div>
