<div *ngFor="let sues of suesList">
    <form [formGroup]="form">
        <div *ngIf="!sues.checked">
            <span>{{sues.question}}</span>
            <input type="text" formControlName="answer">
            <button (click)="respond(sues,form)" [disabled]="!form.valid">Responder</button>
        </div>
    </form>
</div>