/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

input:focus{
    outline: 0;
}

header{
    position: absolute;
    z-index:300;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    
    font-family: 'Jura', sans-serif;
    color: white;
    font-weight: bold;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        width: 20%;
        height: 23px;
    }
    a{
        margin: 0px 8px;

        &:hover{
            cursor: pointer;
        }
    }
}
